variables:
  DOCKER_DRIVER: overlay

docker-build:
  image: maplegend/docker-sbt:latest
  stage: build
  variables:
    DOCKER_HOST: tcp://docker:2375
  services:
    - docker:19.03.8-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD"
  script:
    - sbt assembly
    - docker build -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" --no-cache .
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"
  tags:
    - main
  only:
    - "master"